.wrapper{
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 1em 0;
   
}

#search-container input {
   background-color: transparent;
   width: 40%;
   border-width: 0.3em;
   border-color: #3b5d50;
   padding: 1em 0.3em;
   border-radius: 20px;
}

#search-container input:focus{
  border-width: 0.3em;
  border-color: #8ee3c2;
}

#search-container button{
    padding:  1em 2em;
    margin-left: 1em;
    background-color: #3b5d50;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 0.5em;
}

#search-container button:hover{
    background-color: #5d927e;
}

.button-value{
    margin-left: 0.2em;
    border: 2px solid #f9bf29;
    padding: 0.2em 1.8em;
    border-radius: 3em;
    background-color: transparent;
    color:  #3b5d50;
    cursor: pointer;
}
.button-value:hover{
    background-color: #f9bf29;
}



#products{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 2em;
    padding: 2em 0;
}

.card{
    background-color: transparent;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
    text-align: center;

}
#imgid {
    max-width:100%;
    object-fit: contain;
    height: 15em;
}

.container {
    padding-top: 1em;
    color: #110f29;
}

.container h5{
    font-weight: 500;
}
.hide{
    display: none;
}
#addbtn{
 display: block;
 background-color: black;
 margin-left: 80%;
 height: 3.5em;
 width: 3.5em;
 border-radius: 30%;
 color: white;
 
}
@media screen and(max-width: 720px){
    #imgid{
        max-width: 100%;
        object-fit: contain;
        height: 10em;

    }
   .card{
    max-width: 10em;
    margin-top: 1em;
   }
   #products{
    grid-template-columns: auto auto;
    grid-column-gap: 2em ;
   }
}